doctype html
html( lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' href='css/main.min.css')
        title verstka7
    body
        include part/header.pug
        include part/prod_cat.pug
        include part/intro.pug
        include part/services.pug
        include part/counter.pug
        include part/latest-poducts.pug
        include part/news.pug
        include part/help&support.pug
        include part/footer.pug

