.counter
    .counters
        .heading
            a Some Statistical Facts
        .mark1
            .mark1-text
                a HAPPY CUSTOMERS
            .mark1-mark
                a 25K

        .mark2
            .mark2-text
                a TICKET SOLVED
            .mark2-mark
                a 9083

        .mark3
            .mark3-text
                a AVERAGE RATINGS
            .mark3-mark
                a 9/10
    .mockup
        .phone
        .mouse
        .laptop
    .counter-bg
        .man-photo
        .shadow-bg
        .circle1
        .circle2
        .circle3
        .maincounterBG