.footer
    .social
        .facebook
            .face-pic
            .face-bg

        .twitter
            .twit-pic
            .twit-bg

        .linkedin
            .linkedin-pic
            .linkedin-bg

        .google
            .google-pic
            .google-bg

        .social-text
            a © 2017 UISUMO Web Solutions. All Rights Reserved
    .bg-shapes
        .background-shapes