.intro
    .about-content
        .string1
            a We Help brand to
        .string2
            a Grow next level business
        .string3
            a Here's why we're the #1 MOST trusted digital marketplace
            br
            a company in the worldwide!
        .string4
            a What do all consultants need? In short, trust. This is achieved with professional
            br
            a presentation and the ability to communicate clearly with existing and potential
            br
            a clients. Whatever you are an accountant.
        .button2
        .button__picture
        .button-text
            a DISCOVER MORE
    .gray-image
        .gray-bg__picture
    .fromTim
        .comment-img
            .comment__picture
        .tim-text1
            a WHY OVER 50K PEOPLE CHOOSE US
        .tim-text2
            a "What do all consultants need? In short, trust. This is achieved with professional
            br
            a presentation and the ability to communicate clearly with existing and potential trendy
            br
            a worldwide clients way of tried now & all."
        .tim-text3
            a TIM ANDERSON
        .tim-text32
            a (DIRECTOR)


