.latest-products
    .heading1
        a Your next level Product development company assets
    .heading2
        a Latest Products
    .content
        .prig-tab
            .line2

            .string5
                a 01
            .string52
                  a 02 03 04 05
        .string6
            a Vanilla Wp Theme
        .string7
            a What do all consults need? In short, trust.This is achieved with professional
            br
            a presentation and the ability to communicate.
        .string8
            a LAST UPDATE:
        .string82
            a JANUARY 9, 2017
        .string9
            a BROWSER:
        .string92
            a IE9+, FIREFOX, SAFARI, OPERA, CHROME
        .string10
            a REQUIREMENTS:
        .string102
            a WORDPRESS 4.7.1

        .content-btn
            .content-demo
                .demo
                    a DEMO
                .demo-bg

            .content-buy
                .buy
                    a BUY THEME
                .buy-bg

    .arrow
        .arrow1
            .l-stick1
            .l-stick2
            .arrow-circle1
        .arrow2
            .r-stick1
            .r-stick2
            .arrow-circle2

    .browser-mockup
        .browser-mockup-point1
        .browser-mockup-point2
        .browser-mockup-point3
        .browser-mockup-line
        .browser-mockup-bg