.news
    .news-bg
    .faq
        .faq-text
            a Frequently Asked Question?
        .faq1
            .faq1-text
                a Is there any auto-renew subscription?
            .faq1-icon
                .faq1-plus
                    .faq1-plus-hor
                    .faq1-plus-ver
                .faq1-bg
        .faq2
            .faq2-text
                a Can I upgrade to Theme Club from a ThemeForest purchase?
            .faq2-icon
                .faq2-plus
                    .faq2-plus-hor
                    .faq2-plus-ver
                .faq2-bg
        .faq3
            .faq3-text
                a How many sites can I use my themes on?
            .faq3-icon
                .faq3-plus
                    .faq3-plus-hor
                    .faq3-plus-ver
                .faq3-bg
        .lines
            .line1
            .line2
            .line3
    .new-news
        .new-news-text
        .new-news1
            .new-news1-data
                a FEB 19, 2017
            .new-news1-text
                a Want to Be an Ace Designer? Try travelling
                br
                a the World
            .upper-bg1
            .lower-bg1
        .new-news2
            .new-news2-data
                a FEB 19, 2017
            .new-news2-text
                a Why the "Day Job" Is Underrated
            .upper-bg2
            .lower-bg2
    .request
        .request-bg
        .request-heading
            a Request Call Back
        .request-text
            a What do all consultants need? In short trust
            br
            a This is achieved with professional and the
            a ability to communicate.
        .request-txb
                input.txb1(type="text" placeholder="How can we help?")
                input.txb2(type="text" placeholder="Your Name")
                input.txb3(type="text" placeholder="Your Email")
        .request-btn
            .request-btn-text
                a SUBMIT
            .request-btn-pic
