.product-categories
    .container4
        .laravel-text
            a LARAVEL
        .laravel__picture
        .laravel-background

    .container4
        .wordpress-text
            a WORDPRESS
        .wordpress__picture
        .wordpress-background

    .container4
        .angularjs-text
            a ANGULARJS
        .angularjs__picture
        .angularjs-background

    .container4
        .ionic-text
            a IONIC
        .ionic__picture
        .ionic-background

    .container4
        .node_js-text
            a NODE JS
        .node_js-picture
        .node_js-background