.services
    .services-parts
        .services-part1
            .services-part1-img
                .services-part1-img__picture
            .services-part1-text1
                a Pixel Perfect Design
            .services-part1-text2
                a This is achieved with professional presentation
                br
                a and the ability communicate clearly with existing
                br
                a and potential clients

        .services-part2
            .services-part2-img
                .services-part2-img__picture
            .services-part2-text1
                a SEO Optimized
            .services-part2-text2
                a This is achieved with professional presentation
                br
                a and the ability communicate clearly with existing
                br
                a and potential clients
        .services-part3
            .services-part3-img
                .services-part3-img__picture
            .services-part3-text1
                a Dedicated Support
            .services-part3-text2
                a This is achieved with professional presentation
                br
                a and the ability communicate clearly with existing
                br
                a and potential clients
    .line
    .services-bg