.counter{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 224;
}
.counters{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 223;
}
.counter-bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 196;
}
.main-counter-BG{
  background-image: url("../../images/counter-bg.png");
  position: absolute;
  left: 0;
  top: 2246px;
  width: 1920px;
  height: 419px;
  z-index: 190;
}
.heading{
  font-size: 35px;
  color: rgb(255, 255, 255);
  line-height: 0.886;
  text-align: left;
  position: absolute;
  left: 960px;
  top: 2372.995px;
  z-index: 222;
}
.mark1{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 221;
}
.mark1-text{
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.769;
  text-align: left;
  position: absolute;
  left: 961px;
  top: 2493.502px;
  z-index: 220;
}
.mark1-mark{
  font-size: 38px;
  color: rgb(255, 255, 255);
  line-height: 0.947;
  text-align: left;
  position: absolute;
  left: 960px;
  top: 2458.507px;
  z-index: 219;
}
.mark2{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 217;
}
.mark2-text{
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.769;
  text-align: left;
  position: absolute;
  left: 1151px;
  top: 2493.502px;
  z-index: 216;
}
.mark2-mark{
  font-size: 38px;
  color: rgb(255, 255, 255);
  line-height: 0.947;
  text-align: left;
  position: absolute;
  left: 1152px;
  top: 2458.507px;
  z-index: 215;
}
.mark3{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 213;
}
.mark3-text{
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.769;
  text-align: left;
  position: absolute;
  left: 1346.344px;
  top: 2493.502px;
  z-index: 212;
}
.mark3-mark{
  font-size: 38px;
  color: rgb(255, 255, 255);
  line-height: 0.947;
  text-align: left;
  position: absolute;
  left: 1347px;
  top: 2459.507px;
  z-index: 211;
}
.mockup{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 208;
}
.mouse{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 207;
}
.mouse_pic1{
  background-image: url("../../images/mouse.png");
  position: absolute;
  left: 865px;
  top: 2525px;
  width: 39px;
  height: 49px;
  z-index: 206;
}
.phone{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 203;
}
.phone-pic1{
  background-image: url("../../images/phone.png");
  position: absolute;
  left: 350px;
  top: 2499px;
  width: 87px;
  height: 105px;
  z-index: 201;
}
.laptop{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 200;
}
.laptop-pic1{
  background-image: url("../../images/laptop.png");
  position: absolute;
  left: 434px;
  top: 2292px;
  width: 433px;
  height: 288px;
  z-index: 199;
}