.counter{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 224;
}
.counters{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 223;
}