.nav2{
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.857;
  text-align: right;
  position: absolute;
  left: 1377.438px;
  top: 38.001px;
  z-index: 276;
  padding-left: 32px;
}
.UISUMO {
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.929;
  text-align: center;
  position: absolute;
  left: 60px;
  top: 36.494px;
  z-index: 275;
}
.header {
  background: url("../../images/BGImage.png");
  position: absolute;
  width: 100%;
  height: 920px;
}
._1 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1830px;
  top: 45px;
  width: 20px;
  height: 2px;
  z-index: 281;
}
._2 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1830px;
  top: 50px;
  width: 20px;
  height: 2px;
  z-index: 280;
}
._3 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1830px;
  top: 55px;
  width: 20px;
  height: 2px;
  z-index: 279;
}
.Bg {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgba(54, 66, 95, 0);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 1820px;
  top: 31px;
  width: 36px;
  height: 36px;
  z-index: 278;
}
.container2{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 320;
}
._Point1 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 131px;
  top: 344px;
  width: 69px;
  height: 69px;
  z-index: 319;
}
._Point2 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 361px;
  top: 534px;
  width: 69px;
  height: 69px;
  z-index: 316;
}
._Point3 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 641px;
  top: 434px;
  width: 69px;
  height: 69px;
  z-index: 313;
}
._Point4 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 696px;
  top: 655px;
  width: 69px;
  height: 69px;
  z-index: 310;
}
._Point5 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 986px;
  top: 555px;
  width: 69px;
  height: 69px;
  z-index: 307;
}
._Point6 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 1252px;
  top: 481px;
  width: 69px;
  height: 69px;
  z-index: 304;
}
._Point7 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 1444px;
  top: 231px;
  width: 69px;
  height: 69px;
  z-index: 301;
}
._Point8 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 1552px;
  top: 551px;
  width: 69px;
  height: 69px;
  z-index: 298;
}
._Point9 {
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 1689px;
  top: 410px;
  width: 69px;
  height: 69px;
  z-index: 295;
}
.container3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 292;
}
.company{
  font-size: 45px;
  color: rgb(255, 255, 255);
  line-height: 0.578;
  text-align: center;
  position: absolute;
  left: 538.281px;
  top: 317.098px;
  z-index: 291;
}
.signup{
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.3;
  text-align: center;
  position: absolute;
  left: 671px;
  top: 368.379px;
  z-index: 290;
}
.button{
  position: absolute;
  z-index: 289;
  width: 100%;
  height: 100%;
}
.button1{
  font-size: 14px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 1.857;
  text-align: center;
  position: absolute;
  left: 853px;
  top: 418.001px;
  z-index: 288;
}
.YBT{
  background-color: rgb(254, 212, 92);
  box-shadow: 0px 0px 30px 0px rgba(254, 212, 92, 0.5);
  position: absolute;
  left: 822px;
  top: 401px;
  width: 277px;
  height: 60px;
  z-index: 287;
  border-radius: 30px;
}
.comment{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 324;
}
.comment-text{
  font-size: 15px;
  line-height: 1.333;
  text-align: left;
  position: absolute;
  left: 361px;
  top: 458.037px;
  z-index: 323;
  margin: 0;
  color: #696969;
}

.logo__picture1{
  position: absolute;
  left: 320px;
  top: 420px;
  width: 250px;
  height: 120px;
  z-index: 286;
  border-radius: 5px;
}