.latest-products{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 187;
}
.heading2{
  font-size: 35px;
  color: rgb(34, 34, 34);
  line-height: 0.886;
  text-align: center;
  position: absolute;
  left: 839px;
  top: 2780.995px;
  z-index: 185;
}
.heading1{
  font-size: 16px;
  color: rgb(119, 119, 119);
  line-height: 1.625;
  text-align: center;
  position: absolute;
  left: 751.125px;
  top: 2845.703px;
  z-index: 186;
}
.content{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 184;
}
.prig-tab{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 183;
}
.line2{
  background-color: rgb(240, 104, 158);
  position: absolute;
  left: 373px;
  top: 2953px;
  width: 16px;
  height: 2px;
  z-index: 182;
}
.string5{
  font-size: 15px;
  color: rgb(240, 104, 158);
  text-transform: uppercase;
  line-height: 2.067;
  text-align: left;
  position: absolute;
  left: 372px;
  top: 2927.998px;
  z-index: 181;
}
.string52{
  font-size: 15px;
  color: rgb(119, 119, 119);
  text-transform: uppercase;
  line-height: 2.067;
  text-align: left;
  position: absolute;
  left: 392px;
  top: 2927.998px;
  z-index: 181;
}
.string6{
  font-size: 24px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 1.292;
  text-align: left;
  position: absolute;
  left: 373.875px;
  top: 2980.996px;
  z-index: 179;
}
.string7{
  font-size: 14px;
  color: rgb(119, 119, 119);
  line-height: 1.857;
  text-align: left;
  position: absolute;
  left: 375.437px;
  top: 3054.365px;
  width: 534px;
  height: 40px;
  z-index: 178;
}
.string8{
  font-size: 12px;
  color: rgb(136, 136, 136);
  text-transform: uppercase;
  line-height: 2.583;
  text-align: left;
  position: absolute;
  left: 376px;
  top: 3130.529px;
  z-index: 177;
}
.string82{
  font-size: 12px;
  color: rgb(17, 16, 16);
  text-transform: uppercase;
  line-height: 2.583;
  text-align: left;
  position: absolute;
  left: 463px;
  top: 3130.529px;
  z-index: 177;
}
.string9{
  font-size: 12px;
  color: rgb(136, 136, 136);
  text-transform: uppercase;
  line-height: 2.583;
  text-align: left;
  position: absolute;
  left: 376px;
  top: 3162.529px;
  z-index: 176;
}
.string92{
  font-size: 12px;
  color: rgb(17, 16, 16);
  text-transform: uppercase;
  line-height: 2.583;
  text-align: left;
  position: absolute;
  left: 446px;
  top: 3162.529px;
  z-index: 176;
}
.string10{
  font-size: 12px;
  color: rgb(136, 136, 136);
  text-transform: uppercase;
  line-height: 2.583;
  text-align: left;
  position: absolute;
  left: 376px;
  top: 3194.529px;
  z-index: 175;
}
.string102{
  font-size: 12px;
  color: rgb(17, 16, 16);
  text-transform: uppercase;
  line-height: 2.583;
  text-align: left;
  position: absolute;
  left: 480px;
  top: 3194.529px;
  z-index: 175;
}
.content-btn{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 174;
}
.content-demo{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 173;
}
.demo{
  font-size: 13px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 2.385;
  text-align: left;
  position: absolute;
  left: 421px;
  top: 3242px;
  z-index: 172;
}
.demo-bg{
  background-image: url("../../images/demo_btn.png");
  position: absolute;
  left: 371px;
  top: 3231px;
  width: 131px;
  height: 46px;
  z-index: 171;
}
.content-buy{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 169;
}
.buy{
  font-size: 12px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 2.583;
  text-align: left;
  position: absolute;
  left: 558px;
  top: 3242px;
  z-index: 168;
}
.buy-bg{
  background-image: url("../../images/buy_btn.png");
  position: absolute;
  left: 516px;
  top: 3231px;
  width: 151px;
  height: 46px;
  z-index: 167;
}
.arrow{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 163;
}
.arrow2{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 162;
}
.r-stick2{
  background-image: url("../../images/stick1.png");
  position: absolute;
  left: 1617px;
  top: 3087px;
  width: 14px;
  height: 14px;
  z-index: 161;
}
.r-stick1{
  background-image: url("../../images/r-stick2.png");
  position: absolute;
  left: 1617px;
  top: 3100px;
  width: 14px;
  height: 14px;
  z-index: 160;
}
.arrow-circle2{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(232, 232, 232);
  border-radius: 50%;
  background-color: rgba(54, 66, 95, 0);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 1593px;
  top: 3071px;
  width: 57px;
  height: 57px;
  z-index: 159;
}
.arrow1{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 157;
}
.l-stick1{
  background-image: url("../../images/r-stick2.png");

  position: absolute;
  left: 288px;
  top: 3087px;
  width: 14px;
  height: 14px;
  z-index: 156;
}
.l-stick2{
  background-image: url("../../images/stick1.png");
  position: absolute;
  left: 288px;
  top: 3100px;
  width: 14px;
  height: 14px;
  z-index: 155;
}
.arrow-circle1{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(232, 232, 232);
  border-radius: 50%;
  background-color: rgba(54, 66, 95, 0);
  position: absolute;
  left: 263px;
  top: 3068px;
  width: 63px;
  height: 63px;
  z-index: 154;
}
.browser-mockup{
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 100%;
  z-index: 151;
}
.browser-mockup-point1{
  border-radius: 50%;
  background-color: rgb(221, 221, 221);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 1000px;
  top: 2912px;
  width: 8px;
  height: 8px;
  z-index: 150;
}
.browser-mockup-point2{
  border-radius: 50%;
  background-color: rgb(221, 221, 221);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 1014px;
  top: 2912px;
  width: 8px;
  height: 8px;
  z-index: 149;
}
.browser-mockup-point3{
  border-radius: 50%;
  background-color: rgb(225, 225, 225);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 1028px;
  top: 2912px;
  width: 8px;
  height: 8px;
  z-index: 148;
}
.browser-mockup-line{
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 990px;
  top: 2901px;
  width: 555px;
  height: 30px;
  z-index: 147;
}
.browser-mockup-bg{
  border-radius: 3px;
  background-color: rgb(208, 208, 208);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 990px;
  top: 2901px;
  width: 555px;
  height: 399px;
  z-index: 146;
}